@tailwind base;
@tailwind components;
@tailwind utilities;

$purple: #5c3cbb;
$white: #ffffff;
$yellow: #ecdb3c;
$green: #bff49f;
$black: #222;
$gray: #f2f2f2;

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: $gray;
}

a {
  text-decoration: none;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.flex {
  display: flex;
}

.page-title{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.w-50{
  width:50%;
}

.card {
  height: 10rem;
  padding: 1rem 0.5rem;
  border-radius: 4px;
  display: flex;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom:2rem;

  .card-img {
    cursor: pointer;
    border-radius: 4px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    h3 {
      margin-bottom: 0.75rem;
      a {
        color: $black;
      }
    }

    .card-details {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      span {
        margin-left: 0.3rem;
      }
    }
  }
  .vote-information {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    .vote-number {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 7rem;
      height: 4rem;
      background: $green;
      margin-bottom: 1rem;
      border-radius: 4px;
      text-align: center;
      div {
        font-size: 2rem;
      }
    }
    .vote-btn {
      width: 7rem;
      height: 3rem;
      text-align: center;
      background-color: $purple;
      color: $white;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}
.wrapper-column {
  width: 70%;
  margin: auto;
  .employee-details {
    margin: auto;
    background-color: $white;
    border-radius: 4px;
    .employee-details-header {
      height: 10rem;
      background-color: $purple;
    }

    .profile-image-wrapper {
      position: relative;
      height: 4rem;
      .profile-image {
        border-radius: 50%;
        border: 2px solid $white;
        position: absolute;
        transform: translate(0, -70%);
        left: 3rem;
      }
    }

    .employee-information-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0rem 3rem 3rem 3rem;
      gap: 5rem;
      .employee-information,
      .address,
      .communication {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
      }
    }
  }
}

.posts-wrapper {
  margin-top: 3rem;
  .post-wrapper{
    background-color: $white;
    display:flex;
    flex-direction: column;
    border-radius: 4px;
    gap:1rem;
    margin: 2rem 0;
    padding:1rem;
  }
}

.side-card{
  height: 10rem;
  background-color: $white;
  margin: 0 3rem;
  border-radius: 4px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  h3{
    margin-bottom:1rem;
  }

}

.employee-details-header{
  .votes-wrapper{
    text-align: end;

    .vote-btn{
      background-color: $white;
      border:none;
      padding: 1rem 2rem;
      border-radius: 4px;
    }
  }
}

.loading-wrapper{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 2rem;
  display:flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
